# The Gapminder

In [21]:
# Import libraries

import os
import pandas as pd

In [22]:
gm_df = pd.read_csv('data/files/gapminder.csv')
gm_df.head()

,country_id,fertility_rate,year,country,region,life_expectancy,population_,lep_year
0,1,2.71,2015,Algeria,Africa,76.3,38934334.0,2014
1,1,2.76,2014,Algeria,Africa,76.3,38934334.0,2014
2,2,5.65,2015,Angola,Africa,59.2,24227524.0,2014
3,2,5.75,2014,Angola,Africa,59.2,24227524.0,2014
4,3,4.69,2015,Benin,Africa,62.0,10598482.0,2014

In [ ]:
# Loading the dataset
# Dataset path
# os.chdir('C:/Users/baral/Documents/neuefische/projects/week5/TASK-DataScience-Toolkit')

# # Load the Gapminder dataset
# gm_df = pd.read_csv('data/files/gapminder.csv')
# gm_df.head()

,country_id,fertility_rate,year,country,region,life_expectancy,population_,lep_year
0,1,2.71,2015,Algeria,Africa,76.3,38934334.0,2014
1,1,2.76,2014,Algeria,Africa,76.3,38934334.0,2014
2,2,5.65,2015,Angola,Africa,59.2,24227524.0,2014
3,2,5.75,2014,Angola,Africa,59.2,24227524.0,2014
4,3,4.69,2015,Benin,Africa,62.0,10598482.0,2014