# Northwind Database Machine Learning Project

The Northwind database is a sample database that was originally created by Microsoft and used as the basis for their tutorials in a variety of database products for decades. The Northwind database contains the sales data for a fictitious company called “Northwind Traders,” which imports and exports specialty foods from around the world. The Northwind database is an excellent tutorial schema for a small-business ERP, with customers, orders, inventory, purchasing, suppliers, shipping, employees, and single-entry accounting.

In [1]:
# import necessory libraraies
import os
import sys
from pathlib import Path
import pandas as pd
import numpy as np 
import seaborn as sns 
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [2]:
# Path to the dataset
ROOT_DIR = Path.cwd().parents[2]
DATA_DIR = ROOT_DIR / "data" / "files" 
ENV_FILE = ROOT_DIR / "env" / ".env"  
NORTHWIND_CSV = DATA_DIR / "northwind_data.csv"

In [3]:
load_dotenv(ENV_FILE)
DB_CREDENTIALS = os.getenv("DB_STRING")

In [4]:
DB_ENGINE = create_engine(DB_CREDENTIALS)

In [5]:
SQL_QUERY = """ 
SET SCHEMA 'northwind';
-- merge all tables
SELECT
    -- orders
    ord.orderdate,ord.requireddate, ord.shippeddate, ord.shipvia, ord.freight,
    ord.shipname, ord.shipaddress, ord.shipcity, ord.shipregion,
    ord.shippostalcode, ord.shipcountry,
    -- order details
    odd.unitprice AS order_details_unitprice,
    odd.quantity AS order_details_quantity,
    odd.discount AS order_details_discount,
    -- customers
    cus.companyname AS customers_companyname, 
    cus.contactname AS customers_contactname, 
    cus.contacttitle AS customers_contacttitle, 
    cus.address AS customers_address, 
    cus.city AS customers_city,
    cus.region AS customers_region, 
    cus.postalcode AS customers_postalcode, 
    cus.country AS customers_country, 
    cus.phone AS customers_phone, 
    cus.fax AS customers_fax,
    -- products
    pro.productname,
    pro.quantityperunit AS products_quantity_per_unit,
    pro.unitprice AS products_unitprice,
    pro.unitsinstock AS products_units_in_stock,
    pro.unitsonorder AS products_units_on_order,
    pro.reorderlevel AS products_reorder_level,
    pro.discontinued AS products_discountinued,
    -- categories
    cat.categoryname,
    cat.description AS categories_description,
    cat.picture AS categories_picture,
    -- employees
    emp.lastname AS employees_lastname,
    emp.firstname AS employees_firstname,
    emp.title AS employees_title,
    emp.titleofcourtesy AS employees_title_of_courtesy,
    emp.birthdate AS employees_birthdate,
    emp.hiredate AS employees_hiredate,
    emp.address AS employees_address,
    emp.city AS employees_city, emp.region AS employees_region,
    emp.postalcode AS employees_postalcode,
    emp.country AS employees_country,
    emp.homephone AS employees_homephone,
    emp.extension AS employees_extension,
    emp.photo AS employees_photo,
    emp.notes AS employees_notes,
    emp.reportsto AS employees_reportsto,
    emp.photopath AS employees_photo_path,
    -- employee_territories
    empt.territoryid AS employee_territories_id,
    -- suppliers
    sup.companyname AS suppliers_company_name,
    sup.contactname AS suppliers_contact_name,
    sup.contacttitle AS suppliers_contact_title,
    sup.address AS suppliers_address,
    sup.city AS suppliers_city, sup.region AS suppliers_region,
    sup.postalcode AS suppliers_postalcode,
    sup.country AS suppliers_country,
    sup.phone AS suppliers_phone, sup.fax As suppliers_fax,
    sup.homepage AS suppliers_homepage,
    -- shippers: no relationship found in orders
    -- shi.companyname AS shippers_company_name,
    -- shi.phone AS shippers_phone,
    -- territories
    ter.territorydescription AS territories_description,
    -- regions
    reg.regiondescription AS region_description
FROM orders ord

LEFT JOIN order_details odd ON ord.orderid = odd.orderid
LEFT JOIN customers cus ON ord.customerid = cus.customerid
LEFT JOIN products pro ON odd.productid = pro.productid
LEFT JOIN categories cat ON pro.productid = cat.categoryid
LEFT JOIN employees emp ON ord.employeeid = emp.employeeid
LEFT JOIN employee_territories empt ON emp.employeeid = empt.employeeid
LEFT JOIN suppliers sup ON pro.supplierid = sup.supplierid
-- LEFT JOIN shippers shi ON ord.shipperid = shi.shipperid
LEFT JOIN territories ter ON empt.territoryid = ter.territoryid
LEFT JOIN regions reg ON ter.regionid = reg.regionid;
"""

In [ ]:
# northwind_dataset = pd.read_sql(SQL_QUERY, DB_ENGINE)
# northwind_dataset.to_csv(NORTHWIND_CSV, index=False)

In [7]:
northwind_df = pd.read_csv(NORTHWIND_CSV)
northwind_df.head()

,orderdate,requireddate,shippeddate,shipvia,freight,shipname,shipaddress,shipcity,shipregion,shippostalcode,...,suppliers_address,suppliers_city,suppliers_region,suppliers_postalcode,suppliers_country,suppliers_phone,suppliers_fax,suppliers_homepage,territories_description,region_description
0,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,...,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN,Fairport,Eastern
1,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,...,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN,Mellvile,Eastern
2,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,...,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN,NewYork,Eastern
3,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,...,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN,NewYork,Eastern
4,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,...,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN,Edison,Eastern

In [9]:
northwind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10129 entries, 0 to 10128
Data columns (total 65 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   orderdate                    10129 non-null  object
 1   requireddate                 10129 non-null  object
 2   shippeddate                  9840 non-null   object
 3   shipvia                      10129 non-null  int64
 4   freight                      10129 non-null  float64
 5   shipname                     10129 non-null  object
 6   shipaddress                  10129 non-null  object
 7   shipcity                     10129 non-null  object
 8   shipregion                   3864 non-null   object
 9   shippostalcode               9821 non-null   object
 10  shipcountry                  10129 non-null  object
 11  order_details_unitprice      10129 non-null  float64
 12  order_details_quantity       10129 non-null  int64
 13  order_details_discount       10129 non-null  float64
 14  customers_companyname        10129 non-null  object
 15  customers_contactname        10129 non-null  object
 16  customers_contacttitle       10129 non-null  object
 17  customers_address            10129 non-null  object
 18  customers_city               10129 non-null  object
 19  customers_region             3753 non-null   object
 20  customers_postalcode         9821 non-null   object
 21  customers_country            10129 non-null  object
 22  customers_phone              10129 non-null  object
 23  customers_fax                6933 non-null   object
 24  productname                  10129 non-null  object
 25  products_quantity_per_unit   10129 non-null  object
 26  products_unitprice           10129 non-null  float64
 27  products_units_in_stock      10129 non-null  int64
 28  products_units_on_order      10129 non-null  int64
 29  products_reorder_level       10129 non-null  int64
 30  products_discountinued       10129 non-null  bool
 31  categoryname                 825 non-null    object
 32  categories_description       825 non-null    object
 33  categories_picture           825 non-null    object
 34  employees_lastname           10129 non-null  object
 35  employees_firstname          10129 non-null  object
 36  employees_title              10129 non-null  object
 37  employees_title_of_courtesy  10129 non-null  object
 38  employees_birthdate          10129 non-null  object
 39  employees_hiredate           10129 non-null  object
 40  employees_address            10129 non-null  object
 41  employees_city               10129 non-null  object
 42  employees_region             5961 non-null   object
 43  employees_postalcode         10129 non-null  object
 44  employees_country            10129 non-null  object
 45  employees_homephone          10129 non-null  object
 46  employees_extension          10129 non-null  int64
 47  employees_photo              10129 non-null  object
 48  employees_notes              10129 non-null  object
 49  employees_reportsto          8442 non-null   float64
 50  employees_photo_path         10129 non-null  object
 51  employee_territories_id      10129 non-null  int64
 52  suppliers_company_name       10129 non-null  object
 53  suppliers_contact_name       10129 non-null  object
 54  suppliers_contact_title      10129 non-null  object
 55  suppliers_address            10129 non-null  object
 56  suppliers_city               10129 non-null  object
 57  suppliers_region             3447 non-null   object
 58  suppliers_postalcode         10129 non-null  object
 59  suppliers_country            10129 non-null  object
 60  suppliers_phone              10129 non-null  object
 61  suppliers_fax                4414 non-null   object
 62  suppliers_homepage           2462 non-null   object
 63  territories_description      10129 non-null  object
 64  region_description           10129 non-null  object
dtypes: bool(1), float64(5), int64(7), object(52)
memory usage: 5.0+ MB